*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #202020;
  color: white;
  margin: 0 auto;
  padding: 0 16px;
  overflow-x: hidden;
}

h1 {
  font-family: Oswald;
  font-size: 50px;
  font-weight: 700;
  color: #202020;
  margin: 0;
  text-align: center;
  padding-top: 20px;
}

p {
  font-family: Lato;
  font-size: 30px;
  color: #202020;
  line-height: 3rem;
}

.heading--main {
  background-color: #ff0095;
  width: 550px;
  height: 120px;
  border-radius: 10px;
  position: relative;
  left: 75px;
  top: 90px;
}

.paragraph--main {
  background-color: white;
  padding: 100px 70px 10px;
  width: 700px;
  border-radius: 10px;
}

/* Nav Bar */

nav {
  display: flex;
  justify-content: end;
  margin-right: 20px;
  margin-top: 20px;
}
ul > li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
  font-family: Lato;
  font-size: 2rem;
}

.nav--link {
  background-color: #ff0095;
  padding: 20px 30px;
  border-radius: 50px;
}

a:hover {
    color: black;
}

/* Media Queries */

@media (max-width: 800px) {
  body {
    margin: 0 auto;
    padding: 0 16px;
  }

  .heading--main {
    width: 400px;
    height: 90px;
    left: 25px;
    top: 70px;
  }

  .paragraph--main {
    width: 450px;
    padding: 80px 30px 30px;
  }

  h1 {
    font-size: 40px;
    padding-top: 10px;
  }

  p {
    font-size: 20px;
    line-height: 2rem;
  }
}

@media (max-width: 500px) {
  body {
    margin: 0px auto;
    padding: 0 16px;
  }

  .heading--main {
    width: 250px;
    height: 60px;
    left: 20px;
    top: 40px;
  }

  .paragraph--main {
    width: 290px;
    padding: 40px 30px 10px;
  }

  h1 {
    font-size: 20px;
    padding-top: 13px;
    text-align: center;
  }

  p {
    font-size: 10px;
    line-height: 1rem;
  }

  br {
    display: none;
  }

  .nav--link {
    padding: 10px 20px;
    border-radius: 40px;
  }
  a {
    font-size: 1rem;
  }

  nav {
    margin-right: 10px;
    margin-top: 10px;
  }
}
