* {
  box-sizing: border-box;
}

body {
  background-color: #202020;
  color: white;
  margin-left: 100px;
}

h1 {
  font-family: Oswald;
  font-size: 50px;
  font-weight: 700;
  color: #202020;
  margin: 0;
  text-align: center;
  padding-top: 20px;
}

p {
  font-family: Lato;
  font-size: 30px;
  color: #202020;
  line-height: 3rem;
}

.heading--main {
  background-color: #ff0095;
  width: 550px;
  height: 120px;
  border-radius: 10px;
  position: relative;
  left: 75px;
  top: 90px;
}

.paragraph--main {
  background-color: white;
  padding: 100px 70px 10px;
  width: 700px;
  border-radius: 10px;
}

/* Media Queries */

@media (max-width: 800px) {
body {
    margin-left: 20px;
}

  .heading--main {
    width: 400px;
    height: 90px;
    left: 25px;
    top: 70px;
  }

  .paragraph--main {
    width: 450px;
    padding: 80px 30px 30px;
  }

  h1 {
    font-size: 40px;
    padding-top: 10px;
  }

  p {
    font-size: 20px;
    line-height: 2rem;
  }
}
