*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --primary-font: "Gorditas", sans-serif;
  --text-font: "Lato", sans-serif;
  --main-color: white;
  --color-one: #452316;
  --color-two: #b5321d;
  --color-three: #ee8d45;
  --color-four: #bdcf7c;
}

body {
  background-color: var(--main-color);
  margin: 0;
  width: 100vw;
}

.heading {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.heading-image {
  object-fit: cover;
  height: 700px;
  width: 700px;
}

.intro-text {
  padding: 100px;
  border-right: 3px solid var(--color-one);
}

h1 {
  font-family: var(--primary-font);
  text-align: center;
  font-size: 2.8rem;
  color: var(--color-two);
  margin-bottom: 5rem;
}

.intro-subtext {
  font-family: var(--text-font);
  font-weight: bold;
  color: var(--color-one);
  text-align: center;
  font-size: 2rem;
  letter-spacing: -0.9px;
  margin-top: 0;
}

.widget-container {
  width: 100vw;
  background-color: var(--main-color);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
  padding: 50px;
  justify-content: center;
}

.widget-image {
  width: 380px;
  object-fit: contain;
  height: 200px;
  margin: 5px 6px;
}

.widget-text {
  padding: 30px;
}

.widget {
  border: 3px solid var(--color-one);
  border-radius: 20px;
  width: 400px;
  margin: 0 auto;
  transition: box-shadow 0.3s ease-in;
}

h2 {
  font-family: var(--primary-font);
  color: var(--color-two);
}

p {
  font-family: var(--text-font);
  font-weight: bold;
  font-size: 1rem;
  color: var(--color-one);
  margin-bottom: 40px;
  line-height: 1.5rem;
}

a {
  text-decoration: none;
  font-family: var(--primary-font);
  border: 1px solid var(--color-three);
  padding: 10px;
  background-color: var(--color-three);
  color: white;
  cursor: pointer;
  border-radius: 10px;
}

.widget:hover {
  box-shadow:  5px 5px 1px 1px  var(--color-one);
}

/* Media Queries */
@media screen and (max-width: 500px) {
.heading {
  display: grid;
  grid-template-columns: 1fr;
}

.heading-image {
  object-fit: cover;
  height: 400px;
  width: 400px;
}

.intro-text {
  padding: 10px 50px;
  border-right: none;
}

h1{
    font-size: 2rem;
}

.intro-subtext {
  font-family: var(--text-font);
  font-weight: bold;
  color: var(--color-one);
  text-align: center;
  font-size: 1.5rem; 
}

.widget-container{
    display: grid;
    grid-template-columns: 1fr;
}

.widget{
    width: 380px;
}

.widget-image{
    width: 350px;
}

}