*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: "Gilroy";
  src: url(../assets/gilroy-font/Gilroy-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: "Gilroy";
  src: url(../assets/gilroy-font/Gilroy-Medium.ttf);
  font-weight: 300;
}

@font-face {
  font-family: "Gilroy";
  src: url(../assets/gilroy-font/Gilroy-SemiBold.ttf);
  font-weight: 600;
}

:root {
  --primary-font: "Gilroy", sans-serif;
  --font-blue-color: #0065fe;
  --font-text-color: #141414;
  --font-footer-color: #112232;
}

body {
  font-family: var(--primary-font), sans-serif;
  margin: 0;
  padding: 0;
  max-width: 1500px;
}

/* Navigation Bar */
header {
  margin: 20px 100px;
}

ul > li {
  list-style: none;
}

ul > li:hover {
    color: var(--font-blue-color);
    text-decoration: underline;
}

ul {
  margin: 10px;
  position: relative;
}

nav {
  display: flex;
  justify-content: space-between;
}

.nav__list > ul {
  display: flex;
  gap: 3.5rem;
}

.header__btns > a {
  text-decoration: none;
  margin-right: 2rem;
  color: var(--font-blue-color);
}

.header__btns > button {
  width: 120px;
  height: 40px;
  background-color: var(--font-blue-color);
  border: none;
  color: white;
  border-radius: 50px;
  font-family: var(--primary-font);
}

.inline--style {
  color: var(--font-blue-color);
}

#dropfmenu {
    position: absolute;
    left: 225px;
    bottom: 0.1px;
}

/* Intro Section */
.background {
  background-image: url(../assets/scissors-assets/aurora.png);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 65%;
  filter: blur(50px);
  z-index: -1;
}

h1 {
  text-align: center;
  margin-top: 4rem;
  line-height: 5rem;
  font-size: 3rem;
  color: var(--font-text-color);
}

.heading--container > img {
  position: relative;
  left: 650px;
  bottom: 50px;
}

.heading--container > p {
  text-align: center;
  position: relative;
  bottom: 50px;
  margin: 20px 400px;
  line-height: 1.5rem;
}

.signup-section {
  display: flex;
  justify-content: center;
  gap: 60px;
}

.signup-section > button {
  width: 120px;
  height: 40px;
  background-color: var(--font-blue-color);
  border: none;
  color: white;
  font-family: var(--primary-font);
  border-radius: 50px;
  position: relative;
  bottom: 12px;
}

.signup-section > a {
  color: var(--font-blue-color);
  text-decoration: none;
}

.header--images__container {
  border: 0.5px solid var(--font-blue-color);
  width: 700px;
  height: 230px;
  border-radius: 20px;
  margin: 80px auto;
  padding: 40px;
  background-color: #fefefe;
}

.header--image > img {
  margin-left: 50px;
}

.text-one {
  padding: 0 120px;
  text-align: center;
  margin-top: 10px;
}

.header--images__container > img {
  position: absolute;
  z-index: -1;
  top: 570px; /* Adjust to move it into place */
  left: 370px; /* Adjust based on design */
}

.disc--style__container {
  position: relative;
  bottom: 60px;
}

.ellipse {
  position: relative;
  left: 230px;
  top: 80px;
}

.data__container {
  display: flex;
  justify-content: space-between;
  width: 1440px;
  height: 220px;
  background-color: #fafbfd;
  position: relative;
  bottom: 67px;
  padding: 50px 120px;
}

.data__container > h2 {
  font-size: 32px;
}

.stats__container {
  display: flex;
  gap: 100px;
}

.stats__container > div > h3 {
  font-size: 1.5rem;
  font-weight: 600;
}

.stats__container > div > p {
  font-size: 14px;
}

.about-section__container {
  display: flex;
  padding: 0px 120px;
  gap: 20px;
}

.about-section__container > div > p {
  font-weight: 300;
  font-size: 14px;
  line-height: 28px;
  padding-right: 120px;
}

.about-section__container > div > h2 {
  font-size: 32px;
}

/* Inline Line Styling */

#line-one::before {
  content: "";
  position: absolute;
  left: 105px;
  width: 5px;
  height: 40px;
  background: linear-gradient(to bottom, #112232, #ffffff);
}

#line-two::before {
  content: "";
  position: absolute;
  left: 470px;
  width: 5px;
  height: 40px;
  background: linear-gradient(to bottom, #112232, #ffffff);
}

#line-three::before {
  content: "";
  position: absolute;
  left: 660px;
  width: 5px;
  height: 40px;
  background: linear-gradient(to bottom, #112232, #ffffff);
}

/* End of Inline Line styling */

.features {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}

.features > div > h3 {
  font-size: 1.5rem;
  font-weight: 600;
}

.features > div > p {
  font-weight: 300;
  font-size: 14px;
  line-height: 28px;
}

.features > div > span {
  background-color: #e4efff;
  width: 56px;
  height: 56px;
  padding: 15px;
  display: inline-block;
  border-radius: 30px;
}

.price__container > h2 {
  font-size: 32px;
  text-align: center;
  margin-top: 150px;
  margin-bottom: 10px;
}

.price__container > p {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  margin-bottom: 50px;
}

.cards__container {
  display: flex;
  width: inherit;
  gap: 0;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.cards {
  border: 0.5px solid var(--font-blue-color);
  width: 379px;
  height: 450px;
  padding: 10px 7cqb 0;
  position: relative;
}

.cards--middle {
  width: 410px;
  height: 627px;
  background-color: #1e3448;
  color: white;
  padding: 90px 7cqb 0;
  border-radius: 12px;
}

.cards--middle > ul > li {
  line-height: 2.5rem;
  background-image: url(../assets/scissors-assets/white-check-circle.png);
  background-repeat: no-repeat;
  padding-left: 2.5rem;
  background-position: left center;
}

.cards > ul {
  margin: 0;
  padding: 0;
  line-height: 2.5rem;
}

.cards > ul > li {
  background-image: url(../assets/scissors-assets/blue-check-circle.png);
  background-repeat: no-repeat;
  padding-left: 2.5rem;
  background-position: left center;
}

.cards--middle > ul {
  margin: 0;
  padding: 0;
}

h4 {
  font-size: 24px;
  font-weight: 300;
}

.cards--bold-style {
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 0px;
}

.cards-text {
  font-weight: 300;
  margin-top: 0;
  font-size: 20px;
}

#card-one {
  border-right: none;
  border-radius: 12px 0 0 12px;
}

#card-three {
  border-left: none;
  border-radius: 0 12px 12px 0;
}

/* Pricing Buttons */
.pricing-btns {
  margin: 100px 100px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.price-btn-one {
  width: 200px;
  height: 48px;
  font-family: var(--primary-font);
  background-color: white;
  border: 1px solid var(--font-blue-color);
  border-radius: 50px;
  color: var(--font-blue-color);
}

.price-btn-two {
  width: 200px;
  height: 48px;
  font-family: var(--primary-font);
  color: white;
  background-color: var(--font-blue-color);
  border: none;
  border-radius: 50px;
}

/* FAQs One */

.faqs-one {
  width: 1440px;
  height: 523px;
  background-image: url(../assets/scissors-assets/faq.png);
  align-content: center;
}

form {
  background-color: white;
  width: 476px;
  height: 365px;
  margin: 0 auto;
  padding: 50px;
  color: var(--font-blue-color);
  border-radius: 12px;
}

#url {
  width: 380px;
  height: 55px;
  font-family: var(--primary-font);
  color: #3284ff;
  padding: 20px;
  border: 1px solid #3284ff;
  margin-bottom: 30px;
  border-radius: 12px;
  align-self: center;
}

#url::placeholder {
  font-family: var(--primary-font);
  color: #3284ff;
}

.form-inputs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

select {
  width: 200px;
  height: 48px;
  font-family: var(--primary-font);
  color: #3284ff;
  border: 1px solid #3284ff;
  padding: 0 20px;
  border-radius: 12px;
  background-color: white;
}

#alias {
  width: 150px;
  height: 48px;
  font-family: var(--primary-font);
  color: #3284ff;
  padding: 20px;
  border: 1px solid #3284ff;
  border-radius: 12px;
}

#alias::placeholder {
  font-family: var(--primary-font);
  color: #3284ff;
}

form > button {
  width: 380px;
  font-family: var(--primary-font);
  background-color: #3284ff;
  color: white;
  border: none;
  border-radius: 50px;
  padding: 10px;
}

form > button > img {
  position: relative;
  top: 9px;
}

form > p {
  color: #3284ff;
  margin-top: 30px;
  font-size: 14px;
}

/* FAQs Second Section */
.faqs-two {
  width: inherit;
  height: 1153px;
  background-image: url(../assets/scissors-assets/FAQs.png);
}

.faqs-two > h2 {
  text-align: center;
  font-size: 32px;
  margin-top: 50px;
}

.faqs-two > .details-table {
  width: 792px;
  margin: 0 auto;
  padding-top: 10px;
}

summary {
  font-weight: 300;
  font-size: 20px;
  padding: 35px 0;
  list-style: none;
  cursor: pointer;
}

details {
  border-bottom: 0.5px solid #d6d6d6;
  line-height: 1.5rem;
}

/* Add the "+" icon */
summary::after {
  content: "";
  position: absolute;
  left: 1095px;
  width: 16px;
  height: 16px;
  transition: transform 0.3s;
  background-image: url(../assets/scissors-assets/plus.png);
  background-size: cover;
}

/* Change to "-" when details is open */
details[open] summary::after {
  background-image: url(../assets/scissors-assets/minus.png);
  transform: rotate(180deg);
}

/* Footer One */

.footer-one {
  width: inherit;
  height: 250px;
  background-image: url(../assets/scissors-assets/footerone.png);
  background-repeat: no-repeat;
  align-content: center;
  /* padding: 50px; */
}

.footer-one > h2 {
  text-align: center;
  margin-top: 0;
  color: white;
  font-size: 40px;
}

.footer-one > button {
  width: 200px;
  display: block;
  margin: 0 auto;
  height: 48px;
  font-family: var(--primary-font);
  color: white;
  background-color: var(--font-blue-color);
  border: none;
  border-radius: 50px;
}

.footer-two {
  display: flex;
  gap: 150px;
  width: 1440px;
  height: 561px;
  background-image: url(../assets/scissors-assets/footertwo.png);
  padding: 50px 250px;
}

.footer-links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 50px;
  row-gap: 0px;
}

.flinks > ul {
  padding: 0;
  text-decoration: none;
  margin: 0;
}

.flinks > ul > li > a {
  text-decoration: none;
  color: var(--font-footer-color);
  font-weight: 300;
  font-size: 14px;
}

.flinks > ul > li > a:hover {
    color: var(--font-blue-color);
    text-decoration: underline;
}

.flinks > h5 {
  margin-top: 0;
}

.sm-logos {
  display: flex;
  gap: 15px;
  margin-top: 30px;
}

.footer {
    position: relative;
}

.footer-text {
  position: absolute;
  bottom: 20px;
  left: 1100px;
  font-size: 14px;
}
